<!DOCTYPE html>
<!--记得导入thymeleaf依赖-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../static/asserts/css/login.css" th:href="@{/asserts/css/login.css}">

</head>

<body>
<!--/*@thymesVar id="msg" type=""*/-->
<!--   这里是从controller中传入的msg ,只是为了验证Model传值成功-->


<form class="box" action="/user/login" method="post">
    <h1>Login</h1>
<!--    设置P标签作为，登录信息的返回，先判断如果传回来的msg有值才会显示-->
    <div>
        <p class="message_return"  th:text="${msg}" th:if="${not #strings.isEmpty(msg)}">错误信息</p>
    </div>
    <input class="ic login_table" type="text" name="username" placeholder="Username">
    <input class="ic login_table" type="password" name="password" placeholder="Password">
    <input class="lg login_table" type="submit" name="" value="Login">
    <div>
        <!--跳转到注册页面-->
        <p class="creat_accout">
            <span>Now to Register</span>
        </p>
        <a id="to_register" href="/zhu.html">Create an account</a>
    </div>


</form>


</body>

</html>